<header fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="32px">
  <div class="mat-display-1">Who use Angular in Singapore?</div>

  <div class="mat-body-1">
    The list of companies who use Angular/AngularJS in Singapore.
  </div>

  <a mat-stroked-button
     href="https://github.com/ng-singapore/who-use-angular-in-singapore">
    <div fxFlex="row"
         fxLayoutAlign="center center"
         fxLayoutGap="8px">
      <div>Add your Company/Organization</div>
      <mat-icon>add</mat-icon>
    </div>
  </a>
</header>