:host {
  display: block;
  height: 100%;
}

mat-card {
  border-radius: 8px;
}

.description {
  word-break: break-word;
}

.angularIcon {
  height: 24px;
}

.organization-logo {
  max-width: 120px;
}
